In [1]:
import pandas as pd

In [26]:
fol_irr = pd.read_csv('../data/Folsom_irradiance.csv')
fol_sat = pd.read_csv('../data/Folsom_satellite.csv')
fol_sky_img = pd.read_csv('../data/Folsom_sky_image_features.csv')
fol_waether = pd.read_csv('../data/Folsom_weather.csv')

In [27]:
# fol_sat.columns

In [28]:
def breakdown_dates(df): 
    if 'timeStamp' not in df.columns:
        df.rename(columns={'timestamp':'timeStamp'},inplace=True)
    df['year'] = pd.DatetimeIndex(df['timeStamp']).year
    df['month'] = pd.DatetimeIndex(df['timeStamp']).month
    df['day'] = pd.DatetimeIndex(df['timeStamp']).day
    df['hour'] = pd.DatetimeIndex(df['timeStamp']).hour
    df['min'] = pd.DatetimeIndex(df['timeStamp']).minute
    return

In [30]:
# breakdown_dates(fol_irr)
# breakdown_dates(fol_sat)
# breakdown_dates(fol_sky_img)
# breakdown_dates(fol_waether)
print(fol_irr.columns,fol_sat.columns,fol_sky_img.columns,
     fol_waether.columns)

Index(['timeStamp', 'ghi', 'dni', 'dhi'], dtype='object') Index(['2014-03-13 18:00:00', '77', '76', '77.1', '77.2', '84', '82', '79',
       '76.1', '74',
       ...
       '77.7', '76.18', '75.9', '74.6', '76.19', '76.20', '76.21', '77.8',
       '77.9', '78.11'],
      dtype='object', length=101) Index(['timestamp', 'AVG(R)', 'STD(R)', 'ENT(R)', 'AVG(G)', 'STD(G)', 'ENT(G)',
       'AVG(B)', 'STD(B)', 'ENT(B)', 'AVG(RB)', 'STD(RB)', 'ENT(RB)',
       'AVG(NRB)', 'STD(NRB)', 'ENT(NRB)'],
      dtype='object') Index(['timeStamp', 'air_temp', 'relhum', 'press', 'windsp', 'winddir',
       'max_windsp', 'precipitation'],
      dtype='object')

In [11]:
merge_test = pd.merge(fol_irr, fol_sky_img,
                        how="left", on="timeStamp")

In [14]:
merge_test.head(1000)

,timeStamp,ghi,dni,dhi,AVG(R),STD(R),ENT(R),AVG(G),STD(G),ENT(G),AVG(B),STD(B),ENT(B),AVG(RB),STD(RB),ENT(RB),AVG(NRB),STD(NRB),ENT(NRB)
0,2014-01-02 08:00:00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-01-02 08:01:00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-02 08:02:00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-02 08:03:00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-02 08:04:00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2014-01-03 00:35:00,18.73,4.03,18.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,2014-01-03 00:36:00,16.28,0.03,16.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,2014-01-03 00:37:00,15.77,2.52,15.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,2014-01-03 00:38:00,15.67,5.51,15.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,2014-01-03 00:39:00,13.77,0.00,13.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
fol_irr.head()

             timeStamp  ghi  dni  dhi
0  2014-01-02 08:00:00  0.0  0.0  0.0
1  2014-01-02 08:01:00  0.0  0.0  0.0
2  2014-01-02 08:02:00  0.0  0.0  0.0
3  2014-01-02 08:03:00  0.0  0.0  0.0
4  2014-01-02 08:04:00  0.0  0.0  0.0

In [5]:
fol_sat.head()

,2014-03-13 18:00:00,77,76,77.1,77.2,84,82,79,76.1,74,...,77.7,76.18,75.9,74.6,76.19,76.20,76.21,77.8,77.9,78.11
0,2014-03-13 18:45:00,79,77,76,75,89,79,76,74,67,...,81,82,80,76,79,78,77,76,77,78
1,2014-03-13 19:00:00,81,80,79,78,86,81,83,80,68,...,78,79,78,76,79,79,79,79,80,81
2,2014-03-13 19:15:00,81,80,79,79,89,76,80,83,72,...,80,79,75,80,83,82,81,80,80,81
3,2014-03-13 19:30:00,82,81,80,79,87,90,77,86,70,...,81,81,79,77,81,81,81,81,82,83
4,2014-03-13 19:41:00,83,82,81,81,90,78,83,86,74,...,80,81,80,79,83,83,83,83,83,83

In [25]:
# fol_sky_img.rename(columns={'timestamp':'timeStamp'},inplace=True)
# fol_sky_img.head()
# fol_sky_img[fol_sky_img['timeStamp']=='2014-01-02 08:00:00']
# fol_waether.iloc[0,0]